<h1 *ngIf="!isChange" mat-dialog-title>Cadastrar Heroi</h1>
<h1 *ngIf="isChange" mat-dialog-title>Atualizar Heroi</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]=data.nome />
  </mat-form-field>

  <mat-form-field>
    <mat-label>NomeHeroi</mat-label>
    <input matInput [(ngModel)]=data.nomeHeroi />
  </mat-form-field>

  <mat-form-field>
    <mat-label>DataNascimento</mat-label>
    <input matInput [(ngModel)]=data.dataNascimento />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Altura</mat-label>
    <input matInput [(ngModel)]= data.altura />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Peso</mat-label>
    <input matInput [(ngModel)]= data.peso />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button
    mat-button
    *ngIf="!isChange"
    [mat-dialog-close]="data"
    cdkFocusInitial
  >
    Cadastrar
  </button>
  <button mat-button *ngIf="isChange" [mat-dialog-close]="data" cdkFocusInitial>
    Atualizar
  </button>
</div>
